<%= select_tag :foo, raw('<option>Test</option>'), prompt: 'Blank Option' %>
<%= select_tag :foo, raw('<option>Test</option>'), prompt: 'Blank Option', data: { reflex: 'change->test#change' } %>
<%= text_field_tag :baz, @baz %>